
body {
  overflow-x: hidden; 
  overflow-y: auto; 
  width: 100%;
  }
  
  .container {
    width: 100%; /* Make the width fluid */
    max-width: 1440px; /* Ensure it doesn’t stretch too much */
    height: auto; /* Avoid fixed heights */
    margin: 0 auto;
    display: flex;
    padding: 20px;
  }
  
  .box1 {
    width: 63.6vw; 
    height: 94vh; 
    left: -369px; 
    top: 2024px; 
    position: absolute; 
    opacity: 0.40; 
    background: #D9D9D9;
  }
  
  .box2 {
   width: 63.6vw; 
   height: 94vh; 
   left: 242px; 
   top: 200px; 
   position: absolute; 
   opacity: 0.30; 
   background: #D9D9D9;
  }

  .box3{
    width: 60.336vw; 
    height: 127.166vh; 
    left: -309px; 
    top: 596px; 
    position: absolute; 
    opacity: 0.20; 
    background: #D9D9D9;

  }

  .box4{
    width: 18.035vw; 
    height: 20.777vh; 
    left: 404.75px; 
    top: 2291px; 
    position: absolute; 
    transform: rotate(38.39deg); 
    transform-origin: 0 0; 
    border: 3px black solid;
  }

  .rectangle1{
    width: 18.035vw; 
    height: 19.404vh; 
    left: 383px; 
    top: 5132px; 
    position: absolute; 
    opacity: 0.70; 
    background: #D9D9D9;
  }
  
  .rectangle2{
   width: 3.387vw; 
   height: 29.754vh; 
   left: 287px; 
   top: 4853px; 
   position: absolute; 
   opacity: 0.70; 
   background: #D9D9D9;
  }

  .rectangle3{
    width: 3.387vw; 
    height: 29.754vh; 
    left: 287px; 
    top: 4853px; 
    position: absolute; 
    opacity: 0.70; 
    background: #D9D9D9;
   }

.rectangle4{
  width: 3.387vw; 
  height: 29.754vh; 
  left: 1380px; 
  top: 1081px; 
  position: absolute; 
  opacity: 0.70; 
  background: #D9D9D9;
}

.rectangle5{
  width: 3.387vw; 
  height: 29.754vh; 
  left: 1323px; 
  top: 1994px; 
  position: absolute; 
  opacity: 0.70; 
  background: #D9D9D9;
}

.rectangle6{
  width: 31.542vw; 
  height: 129.883vh; 
  left: 1238px; 
  top: 2441px; 
  position: absolute; 
  opacity: 0.40; 
  background: #9C9C9C;
}

.rectangle7{
  width: 35.0467vw; 
  height: 44.501vh; 
  left: 1260.31px; 
  top: 2725px; 
  position: absolute; 
  transform: rotate(35.41deg); 
  transform-origin: 0 0; 
  border: 3px black solid;
}

.rectangle8{
  width: 37.484vw; 
  height: 51.644vh; 
  left: 1430.28px;
   top: 3031px; 
   position: absolute; 
   transform: rotate(75.95deg); 
   transform-origin: 0 0; 
   border: 3px rgba(0, 0, 0, 0.20) solid;
}

.circle1{
  width: 794.46px; 
  height: 741.64px; 
  left: -368.65px; 
  top: 3680px; 
  position: absolute; 
  transform: rotate(33.13deg); 
  transform-origin: 0 0; 
  border-radius: 9999px; 
  border: 3px black solid;
}

.E1{
  width: 377.50px; 
  height: 437.81px; 
  left: 10%;
  top: 718.428vh; 
  position: absolute; 
  transform: rotate(-24.48deg); 
  transform-origin: 0 0;
   color: black; 
   font-size: 50rem; 
   font-family: "Space Grotesk", serif; 
   font-weight: 800; 
   word-wrap: break-word;
}

.E2{
  width: 402.91px;
   height: 891.98px;
    left: -18%;
     top: 695.210vh; 
     position: absolute; 
     transform: rotate(-24.48deg);
      transform-origin: 0 0; 
      color: black; 
      font-size: 800px; 
      font-family: "Space Grotesk", serif;
      font-weight: 800; 
      word-wrap: break-word;
}


  .line {
    width: 36.498vw; 
    height: 0vh; 
    left: 65%; 
    top: 46.054vh; 
    position: absolute; 
    transform: rotate(10.70deg); 
    transform-origin: 0 0; 
    border: 3px black solid;
  }

  .line2{
    width: 36.498vw; 
    height: 0vh; 
    left: 27%; 
    top: 32.128vh; 
    position: absolute; 
    transform: rotate(10.70deg); 
    transform-origin: 0 0; 
    border: 3px black solid;
  }

  .line3{
    width: 23.392vw; 
    height: 0vh; 
    left: 27%; 
    top: 176.447vh; 
    position: absolute; 
    transform: rotate(62.80deg); 
    transform-origin: 0 0; 
    border: 3px black solid;
  }

  .line4{
    width: 100.54px; 
    height: 0px; 
    left: 625px; 
    top: 1750px; 
    position: absolute; 
    transform: rotate(10.80deg); 
    transform-origin: 0 0; 
    border: 3px black solid;
  }
  
  
  .text1 {
    width: 399px; 
    height: 350px; 
    left: 615px; 
    top: 856px; 
    position: absolute; 
    color: black; 
    font-size: 19px; 
    font-family: Lato;
    font-weight: 400; 
    word-wrap: break-word;
  }
  
  .text2 {
    width: 228px;
    height: 714px; 
    left: 971px; 
    top: 2474px; 
    position: absolute; 
    opacity: 0.90; 
    color: black; 
    font-size: 17px; 
    font-family: Geneva; 
    font-weight: 400; 
    word-wrap: break-word;
  }
  
  .text3 {
    width: 228px; 
    height: 714px; 
    left: 909px;
    top: 2725px; 
    position: absolute; 
    opacity: 0.20; 
    color: black; 
    font-size: 17px; 
    font-family: Geneva;
    font-weight: 400; 
    word-wrap: break-word;
  }

  .text4 {
    width: 399px; 
    height: 654px; 
    left: 543px; 
    top: 1937px; 
    position: absolute;
    font-size: 50px; 
    font-family: Geneva; 
    font-weight: 400; 
    word-wrap: break-word;
    font-size: 18px; 
    font-family: Geneva; 
    font-weight: 400; 
    word-wrap: break-word;
    }

    .text5{
      width: 175px;
       height: 284px; 
       left: 60px; 
       top: 43px; 
       position: absolute; 
       color: black; 
       font-size: 16px; 
       font-family: Lato; 
       font-weight: 400; 
       word-wrap: break-word;
    }

    .text6{
      width: 272.56px; 
      height: 511.26px; 
      left: 236px; 
      top: 2820.84px; 
      position: absolute; 
      color: black; 
      font-size: 20px; 
      font-family: Geneva; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .text7{
      width: 232.71px; 
      height: 498.21px; 
      left: 104px; 
      top: 2972.57px; 
      position: absolute; 
      opacity: 0.15; 
      color: black; 
      font-size: 20px; 
      font-family: Geneva; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .text8{
      width: 232.71px; 
      height: 498.21px; 
      left: 44px; 
      top: 3075.57px; 
      position: absolute; 
      opacity: 0.15; 
      color: black; 
      font-size: 20px; 
      font-family: Geneva; 
      font-weight: 400;
       word-wrap: break-word;
    }

    .text9{
      width: 369.88px; 
      height: 464.21px; 
      left: 1023px; 
      top: 3508.49px; 
      position: absolute;
      color: black; 
      font-size: 22px; 
      font-family: Geneva; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .text10{
      width: 340.83px; 
      height: 471.83px; 
      left: 1105px; 
      top: 3644.30px; 
      position: absolute; 
      opacity: 0.15;
      font-size: 22px; 
      font-family: Geneva;
      font-weight: 400; 
      word-wrap: break-word;
    }

    .text11{
      width: 340.83px; 
      height: 471.83px; 
      left: 362px;
      top: 4104.30px; 
      position: absolute; 
      opacity: 0.15; 
      font-size: 40px; 
      font-family: Geneva; 
      font-weight: 400; 
      word-wrap: break-word; 
      font-size: 20px; 
      font-family: Geneva; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .text12{
      width: 340.83px; 
      height: 471.83px; 
      left: 215px; 
      top: 4560.30px; 
      position: absolute; 
      opacity: 0.15; 
      font-size: 40px; 
      font-family: Geneva; 
      font-weight: 400; 
      word-wrap: break-word; 
      font-size: 20px; 
      font-family: Geneva; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .text13{
      width: 365.75px; 
      height: 483.99px;
      left: 118px; 
      top: 3830.46px; 
      position: absolute; 
      opacity: 0.60; 
      color: black; 
      font-size: 20px; 
      font-family: Geneva; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .text14{
      width: 323.04px; 
      height: 457.34px; 
      left: 544.94px; 
      top: 4329px; 
      position: absolute; 
      opacity: 0.60; 
      color: black; 
      font-size: 20px; 
      font-family: Geneva; 
      font-weight: 400; 
      word-wrap: break-word;
    }
    
    .text15{
      width: 309.43px; 
      height: 911.19px; 
      left: 749px; 
      top: 5860.63px; 
      position: absolute; 
      transform: rotate(-17.42deg); 
      transform-origin: 0 0; 
      text-align: justify; 
      color: black; 
      font-size: 20px; 
      font-family: Geneva; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .text16{
      width: 281.73px; 
      height: 388.13px; 
      left: 1069px; 
      top: 5760px; 
      position: absolute; 
      transform: rotate(-17.42deg); 
      transform-origin: 0 0; 
      text-align: justify; 
      color: black; 
      font-size: 20px; 
      font-family: Geneva; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .text17{
      width: 278.02px; 
      height: 824.25px; 
      left: 700px; 
      top: 5416.22px; 
      position: absolute; 
      transform: rotate(-17.42deg); 
      transform-origin: 0 0; 
      opacity: 0.15; 
      text-align: justify; 
      color: black; 
      font-size: 20px; 
      font-family: Bodoni 72; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .text18{
      width: 278.02px; 
      height: 824.25px; 
      left: 400px; 
      top: 5416.22px;
       position: absolute; 
       transform: rotate(-17.42deg); 
       transform-origin: 0 0;
       opacity: 0.15; 
       text-align: justify; 
       color: black; 
       font-size: 20px; 
       font-family: Bodoni 72; 
       font-weight: 400; 
       word-wrap: break-word;
    }

    .Once{
      width: 657px; 
      height: 377px; 
      left: 665px; 
      top: 11px; 
      position: absolute; 
      font-size: 400px; 
      font-family: Bodoni 72; 
      font-weight: 400;
      word-wrap: break-word;
    }

    .more{
      width: 494px; 
      height: 361px; 
      left: 744px; 
      top: 367px; 
      position: absolute; 
      color: black; 
      font-size: 310px; 
      font-family: Bodoni 72; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .quote1{
      width: 502.66px; 
      height: 847.36px; 
      left: 491px; 
      top: 3041.22px; 
      position: absolute; 
      text-align: center;
      color: black; 
      font-size: 130px; 
      font-family: Bodoni 72;
      font-weight: 700; 
      word-wrap: break-word
    }

    .quote2{
      width: 359.62px; 
      height: 354.73px; 
      left: 990px; 
      top: 1579.42px;
       position: absolute; 
       color: black;
       font-size: 70px; 
       font-family: Lato; 
       font-weight: 300; 
       word-wrap: break-word;
    }

    .quote3{
      width: 518.32px; 
      height: 400.08px; 
      left: 933px; 
      top: 4386.49px; 
      position: absolute; 
      color: black; 
      font-size: 135px; 
      font-family: Lato; 
      font-weight: 300; 
      word-wrap: break-word;
    }

    .quote4{
      width: 475.08px; 
      height: 180.40px; 
      left: 1291px; 
      top: 1332.08px; 
      position: absolute; 
      transform: rotate(-89.81deg); 
      transform-origin: 0 0; 
      text-align: center; 
      color: black; 
      font-size: 25px; 
      font-family: Bodoni 72; 
      font-weight: 700; 
      word-wrap: break-word;
    }

    .author{
      width: 331px;
       height: 247px; 
       left: 253px; 
       top: 25px; 
       position: absolute; 
       color: black; 
       font-size: 70px;
        font-family: Lato; 
        font-weight: 300; 
        word-wrap: break-word;
    }

    .OnceMore{
      width: 446.86px; 
      height: 230.12px; 
      left: 853px; 
      top: 1374.28px; 
      position: absolute; 
      text-align: center; 
      color: black; 
      font-size: 70px; 
      font-family: Bodoni 72; 
      font-weight: 700; 
      word-wrap: break-word;
    }

    .OnceMore2{
      width: 446.86px; 
      height: 230.12px; 
      left: -38px; 
      top: 2584.28px; 
      position: absolute; 
      text-align: center; 
      color: black; 
      font-size: 70px; 
      font-family: Bodoni 72; 
      font-weight: 700; 
      word-wrap: break-word;
    }

    .OnceMore3{
      width: 446.86px; 
      height: 230.12px;
       left: 707px; 
       top: 1229.28px; 
       position: absolute; 
       opacity: 0.30; 
       text-align: center; 
       color: black; 
       font-size: 70px; 
       font-family: Bodoni 72; 
       font-weight: 700; 
       word-wrap: break-word;
    }

    .OnceMore4{
      width: 446.86px; 
      height: 230.12px;
       left: -188px; 
       top: 2545.28px; 
       position: absolute; 
       opacity: 0.30; 
       text-align: center; 
       color: black; 
       font-size: 70px; 
       font-family: Bodoni 72; 
       font-weight: 700; 
       word-wrap: break-word;
    }

    .Blurred1{
      width: 1563px; 
      height: 274px; 
      left: -205.50px;
      top: 4699px; 
      position: absolute; 
      transform: rotate(23.10deg); 
      transform-origin: 0 0; 
      opacity: 0.40; 
      color: black;
      font-size: 320px; 
      font-family: Lato; 
      font-weight: 300; 
      word-wrap: break-word;
    }

    .Blurred2{
      width: 1563px;
       height: 274px; 
       left: 16.50px; 
       top: 4988px; 
       position: absolute; 
       transform: rotate(23.10deg); 
       transform-origin: 0 0; 
       opacity: 0.80; 
       color: black; 
       font-size: 320px;
        font-family: Lato; 
        font-weight: 300; 
        word-wrap: break-word;
    }

    .Beneficial{
      width: 470.04px; 
      height: 181.50px; 
      left: 1000px; 
      top: 6115.27px; 
      position: absolute; 
      transform: rotate(-17.75deg); 
      transform-origin: 0 0; 
      opacity: 0.80; 
      color: black; 
      font-size: 100px; 
      font-family: Bodoni 72; 
      font-weight: 400; 
      word-wrap: break-word;
      cursor: pointer;
    }

  
  .Beneficial:hover {
  color: #881c1c; 
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5); 
}

    .u{
      width: 142px; 
      height: 334px; 
      left: 182px; 
      top: 915px; 
      position: absolute; 
      color: black; 
      font-size: 250px; 
      font-family: Bodoni 72; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .i{
      width: 209px; 
      height: 285px; 
      left: 615px; 
      top: 1346px; 
      position: absolute; 
      color: black; 
      font-size: 180px; 
      font-family: Bodoni 72; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .A{
      width: 209px; 
      height: 285px; 
      left: 649px; 
      top: 1484px; 
      position: absolute; 
      color: black; 
      font-size: 180px; 
      font-family: Bodoni 72; 
      font-weight: 700; 
      word-wrap: break-word;
    }

    .R{
      width: 127px; 
      height: 334px; 
      left: 526px; 
      top: 1150px; 
      position: absolute; 
      color: black; 
      font-size: 230px; 
      font-family: Bodoni 72; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .h{
      width: 155.52px; 
      height: 334px; 
      left: 444.15px; 
      top: 1024px; 
      position: absolute; 
      transform: rotate(17.99deg); 
      transform-origin: 0 0; color: black; 
      font-size: 230px; 
      font-family: Bodoni 72; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .O{
      width: 127.51px; 
      height: 338.55px; 
      left: 361.02px; 
      top: 1270px; 
      position: absolute; 
      color: black; 
      font-size: 230px; 
      font-family: Bodoni 72; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .P{
    width: 155.52px; 
    height: 334px; 
    left: 193px; 
    top: 1140.82px; 
    position: absolute; 
    color: black; 
    font-size: 330px; 
    font-family: Bodoni 72; 
    font-weight: 700; 
    word-wrap: break-word;
    }

    .E{
      width: 155.52px; 
      height: 334px; 
      left: 7px; 
      top: 1078.82px; 
      position: absolute; 
      color: black; 
      font-size: 300px; 
      font-family: Bodoni 72; 
      font-weight: 700; 
      word-wrap: break-word;
    }

    .u, .i, .A, .R, .h, .O, .P, .E, .Once, .more, .author, .text1, .text2, .text3, .text4,.text5,.text6,.text7,.text8,.text9, .text10, .text11,.text12,.text13,.text14, .text15, .text16, .text17, .text18, .OnceMore, .OnceMore2, .OnceMore3, .OnceMore4, .quote1, .quote2, .quote3, .quote4, .Blurred1, .Blurred2, .E1, .E2, .box4, .rectangle7, .rectangle8 {
      transition: transform 0.5s ease-out; /* Smooth transition */
    }
    
    /* Runaway effect on hover */
    .u:hover, .i:hover, .A:hover, .R:hover, .h:hover, .O:hover, .P:hover, .E:hover, .author:hover .text1:hover, .text2:hover, .text3:hover, .text4:hover,.text5:hover,.text6:hover,.text7:hover,.text8:hover,.text9:hover, .text10:hover, .text11:hover,.text12:hover,.text13:hover,.text14:hover, .text15:hover, .text16:hover, .text17:hover, .text18:hover, .OnceMore:hover, .OnceMore2:hover, .OnceMore3:hover, .OnceMore4:hover, .quote1:hover, .quote2:hover, .quote3:hover, .quote4:hover, .Blurred1:hover, .Blurred2:hover, .E1:hover, .E2:hover, .box4:hover, .rectangle7:hover, .rectangle8:hover {
    transform: translate(-25%, -25%);
    }
    
    .hidden {
    visibility: hidden;
    opacity: 0;
    }

    .revealed {
      visibility: visible;
      opacity:auto;
      transition: opacity 1.5s ease-in-out;
    }


    
    @media screen and (max-width: 375px) {
      .container{
        width: 320px; 
        height: 8760px; 
        position: relative; 
        background: white;
        overflow-x: hidden;
      }
  
      .text1{
        width: 272px; 
        height: 338px; 
        left: 29px; 
        top: 1300px; 
        position: absolute; 
        color: black; 
        font-size: 16px; 
        font-family: Lato; 
        font-weight: 400; 
        line-height: 22.40px;
         word-wrap: break-word;
      }
  
      .text2{
        width: 271px; 
        height: 723px; 
        left: 27px; 
        top: 3307px; 
        position: absolute; 
        opacity: 0.90; 
        color: black; 
        font-size: 17px; 
        font-family: Geneva; 
        font-weight: 400; 
        word-wrap: break-word;
      }

      .text4{
        width: 269px; 
        height: 677px; 
        left: 27px; 
        top: 2090px; 
        position: absolute; 
        color: black; 
        font-size: 16px; 
        font-family: Geneva; 
        font-weight: 400; 
        word-wrap: break-word;
      }

      .text5{
        width: 272px; 
        height: 320px; 
        left: 29px; 
        top: 288px; 
        position: absolute; 
        color: black; 
        font-size: 16px; 
        font-family: Lato; 
        font-weight: 400; 
        line-height: 22.40px;
         word-wrap: break-word;
      }

      .text6{
        width: 272.56px; 
        height: 511.26px; 
        left: 27px; 
        top: 3946.84px; 
        position: absolute; 
        color: black; 
        font-size: 16px; 
        font-family: Geneva; 
        font-weight: 400; 
        word-wrap: break-word;
      }

      .text9{
        width: 264.48px; 
        height: 523.30px; 
        left: 24px; 
        top: 4879.49px; 
        position: absolute; 
        color: black; 
        font-size: 16px; 
        font-family: Geneva; 
        font-weight: 400; 
        word-wrap: break-word;
      }

      .text13{
        width: 267.55px; 
        height: 512.35px; 
        left: 21px; 
        top: 5503.80px; 
        position: absolute;
        opacity: 0.60; 
        color: black; 
        font-size: 16px; 
        font-family: Geneva; 
        font-weight: 400;
         word-wrap: break-word;
      }

      .text14{
        width: 268.10px; 
        height: 503.45px; 
        left: 28.04px; 
        top: 6426px; 
        position: absolute; 
        opacity: 0.60; 
        color: black; 
        font-size: 16px; 
        font-family: Geneva; 
        font-weight: 400; 
        word-wrap: break-word;
      }
      
      .text15{
        width: 223.62px; 
        height: 887.41px; 
        left: -218px; 
        top: 7661.22px; 
        position: absolute; 
        transform: rotate(-17.42deg); 
        transform-origin: 0 0; 
        text-align: justify; 
        color: black; 
        font-size: 16px; 
        font-family: Geneva; 
        font-weight: 400; 
        word-wrap: break-word;
      }

    .text16{
      width: 173.72px; 
      height: 435.10px; 
      left: 9px; 
      top: 7582px; 
      position: absolute; 
      transform: rotate(-17.42deg); 
      transform-origin: 0 0; 
      text-align: justify; 
      color: black; 
      font-size: 16px; 
      font-family: Geneva; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .author{
      width: 331px; 
      height: 247px; 
      left: 24px; 
      top: 30px; 
      position: absolute; 
      color: black; 
      font-size: 63px; 
      font-family: Lato; 
      font-weight: 300; 
      word-wrap: break-word;
    }

    .OnceMore{
      width: 446.96px; 
      height: 69px; 
      left: -114px; 
      top: 3095.28px; 
      position: absolute; 
      opacity: 0.30; 
      text-align: center; 
      color: black; 
      font-size: 60px; 
      font-family: Bodoni 72; 
      font-weight: 700; 
      word-wrap: break-word;
    }

    .OnceMore2{
      width: 446.86px; 
      height: 230.12px; 
      left: -63px; 
      top: 3164.28px; 
      position: absolute; 
      text-align: center; 
      color: black; 
      font-size: 55px; 
      font-family: Bodoni 72; 
      font-weight: 700; 
      word-wrap: break-word;
    }

    .quote3{
      width: 268.66px; 
      height: 496.33px; 
      left: 21px; 
      top: 7033.81px; 
      position: absolute; 
      color: black; 
      font-size: 70px; 
      font-family: Lato; 
      font-weight: 300; 
      word-wrap: break-word;
    }

    .Blurred1{
      width: 449.97px; 
      height: 123.35px; 
      left: -121.61px; 
      top: 6016px; 
      position: absolute; 
      transform: rotate(23.10deg); 
      transform-origin: 0 0; 
      opacity: 0.40; 
      color: black; 
      font-size: 100px; 
      font-family: Lato; 
      font-weight: 300; 
      word-wrap: break-word;
    }

    .Blurred2{
      width: 565.20px; 
      height: 159px; 
      left: -94.62px; 
      top: 6103px; 
      position: absolute; 
      transform: rotate(23.10deg); 
      transform-origin: 0 0; 
      opacity: 0.80; 
      color: black; 
      font-size: 100px; 
      font-family: Lato; 
      font-weight: 300; 
      word-wrap: break-word;
    }

    .Beneficial{
      width: 350px; 
      height: 154.73px; 
      left: 10px; 
      top: 8599.27px; 
      position: absolute; 
      transform: rotate(-17.75deg); 
      transform-origin: 0 0; 
      opacity: 0.80; 
      color: black; 
      font-size: 75px; 
      font-family: Bodoni 72; 
      font-weight: 400; 
      word-wrap: break-word;
    }
    
    .quote1{
      width: 267.05px; 
      height: 392.03px; 
      left: 24px; 
      top: 4425.65px; 
      position: absolute; 
      text-align: center; 
      color: black; 
      font-size: 65px; 
      font-family: Bodoni 72; 
      font-weight: 700; 
      word-wrap: break-word;
    }

    .quote2{
      width: 266.19px; 
      height: 418.38px; 
      left: 27px; 
      top: 1621.42px; 
      position: absolute; 
      color: black; 
      font-size: 55px; 
      font-family: Lato; 
      font-weight: 300; 
      word-wrap: break-word;
    }

    .more{
      width: 494px;
      height: 361px; 
      left: 51px; 
      top: 750px; 
      position: absolute; 
      color: black; 
      font-size: 250px; 
      font-family: Bodoni 72; 
      font-weight: 400; 
      word-wrap: break-word;
    }

    .Once{
      width: 400px; 
      height: 990px; 
      left: 46px; 
      top: 620px; 
      position: absolute; 
      font-size: 250px; 
      font-family: Bodoni 72; 
      font-weight: 400; 
      word-wrap: break-word;
      color: black; 
    }

    .E{
      display: none;
    }

    .P{
      display: none;
    }

    .O{
      display: none;
    }

    .h{
      display: none;
    }

    .R{
      display: none;
    }

    .A{
      display: none;
    }

    .i{
      display: none;
    }

    .u{
      display: none;
    }

    .E1{
      display: none;
    }

    .E1{
      display: none;
    }

    .E2{
      display: none;
    }

    .line{
      display:none;
    }

    .line2{
      display:none;
    }

    .line3{
      display:none;
    }

    .line4{
      display:none;
    }


    }
  
